/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

/* Summary 스타일 */
.summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  border: 1px solid #e0e0e0;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} */

.b-type {
  font-size: 1.75rem;
  font-weight: 700;
  color: #000000;
  margin-top: 5px;
}

.b-price {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 10px;
}

/* .controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
} */

.options-label {
  font-size: 1rem;
  color: #636363;
  margin-top: 5px;
  /* 왜안바껴 */
}

/* .options-select {
  padding: 8px 12px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #ecf0f1;
  color: #34495e;
  transition: border-color 0.3s;
} */

/* .options-select:focus {
  border-color: #3498db;
  outline: none;
} */

/* .b-date {
  margin-top: 15px;
  font-size: 1rem;
  color: #7f8c8d;
} */
/* 봄꽃 선택창 아래 마진 */

/* SVG container 스타일 */
#svg-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  height: 600px;
  border: 1px solid #e0e0e0;
}

/* 툴팁 스타일 */
.tooltip {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0);
  /* border: 1px solid #858585;
  padding: 8px; */
  /* border-radius: 8px;
  color: #757575;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
